<body>
	<div class="content">
		#parse("/common/header.vm")
		<div class="content-info">
		#parse("/common/leftMenu.vm")
			<div class="content-main">
				$screen_content
			</div>
		</div>
		#parse("common/footer.vm")
	</div>
</body>