#set( $ContextPath = ${request.contextPath} )
<script src="${ContextPath}/js/messageTips.js"></script>

<script>
	function showMessage(msg) {
		var alert = "新订单{ 订单编号:" + msg.id + ", 下单时间:" + msg.createDate + " }到达, 请及时处理!!!";
		messageTips.show(alert);
	}
	
	$(function () {
		
		messageTips.init({ "selector":".bb-alert" });
		
		$("[data-toggle='popover_order']").popover({
			html:true,
			title:'订单详情',
			trigger:'hover'
		});
		
		$("[data-toggle='popover_ship']").popover({
			html:true,
			title:'配送信息',
			trigger:'hover'
		});
		
		$("[data-toggle='renotify']").click(function(){
		
			var shipID = $(this).attr("shipmentID");
			var obj = jQuery.ajax({
				url    : "notify.do",
				async  : false,
				data   : {shipmentID : shipID},
				success: function(data){
					alert(data);
					if('SUCCESS' == data){
						//$('tr[orderid='+ orderID + ']').remove();
					} else {
					}
				}
			});
		});
	});
</script>

<div class="row">
	#parse("/layout/sidebar.vm")
	<div class="span9">
		<!--
		<h1>Dashboard</h1>
		<div class="well summary">
			<ul>
				<li><a href="#"><span class="count">3</span> Pending</a></li>
				<li><a href="#"><span class="count">27</span> Processing</a></li>
				<li class="last"><a href="#"><span class="count">5</span> Files</a></li>
			</ul>
		</div>
		-->
		
		<h2>已分配订单</h2>
		<!-- 新订单提示 -->
		<div class="bb-alert alert alert-danger" style="display:none;">
			<button type="button" class="close" aria-hidden="true" onclick="messageTips.hide();">&times;</button>
			<span></span><a href="pendingFirst.do">刷新</a>
		</div>
		
		<table class="table table-bordered table-striped  table-condensed table-hover">
			<thead>
				<tr>
					<th>订单编号</th>
					<th>下单日期</th>
					<th>送货地区</th>
					<th>状态</th>
					<th>操作</th>
					<th>商品</th>
				</tr>
			</thead>
			<tbody>
#foreach( $order in ${page.dataList})
				<tr orderID="${order.id}">
					<td data-container="body" data-container="body" data-toggle="popover_order" data-content="$orderHelper.format($order)">
						${order.id}
					</td>
					<td>${order.createDate}</td>
					<td>${order.delivery.city}</td>
					<td data-container="body" data-toggle="popover_ship" data-content="$orderHelper.format($!{order.shipment})">
						<button type="button" class="btn btn-small btn-info disabled">$!{order.status}</button>
					</td>
					<td>
						<a href="#" class="btn btn-info" data-toggle="renotify" shipmentID="$!{order.shipment.id}"><i class="icon-envelope icon-white"></i>通知</a>
					</td>
					<td>
						#foreach($orderItem in ${order.details})<div>${orderItem.product.displayName}</div>#end
					</td>
				</tr>
#end
			</tbody>
		</table>
		
		<div class="pagination pagination-right">
			<ul>
				<li><a href="processingFirst.do">|<<</a></li>
				<li><a href="processingPages.do?pageNumber=${page.previousPage}"><</a></li>
				<li><a href="processingPages.do?pageNumber=${page.nextPage}">></a></li>
				<li><a href="processingPages.do?pageNumber=${page.totalPage}">>>|</a></li>
				<li><a href="#">第 ${page.currentPage}页 / 共 ${page.totalPage}页</a></li>
			</ul>
		</div>
		
		<!--<ul class="pager">
			<li class="next">
				<a href="activity.htm">More &rarr;</a>
			</li>
		</ul>
        <ul class="pager">
			<li class="next">
				More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
			</li>
		</ul>-->
	</div>
</div>

<!-- 派送模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">订单配送</h4>
         </div>
         <div class="modal-body" style="height:150px;"> 
<input type="hidden" id="dispatch_orderID"/>
选择配送小站
<select class="selectpicker" data-size="5" id="dispatch_stationID" data-live-search="true">
#foreach($station in ${stations})
<option value="${station.id}" data-subtext="${station.name}" city="${station.name}">${station.name}</option>
#end
</select>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="onModalOK();">确定</button>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->