#set( $ContextPath = ${request.contextPath} )

<link href="${ContextPath}/css/bootstrap-select.min.css" rel="stylesheet" />

<script src="${ContextPath}/js/bootbox.js"></script>
<script src="${ContextPath}/js/jqBootstrapValidation.js"></script>
<script src="${ContextPath}/js/messageTips.js"></script>
<script src="${ContextPath}/js/bootstrap-select.min.js"></script>

<script>
	function nextTab(){
		$('#modifyTab a[href="#items"]').tab('show');
	}
	
	function onPlus(e){
		var input = $(e).parent().find("input");
		input.val(Number(input.val())+1);
	}
	function onMinus(e){
		var input = $(e).parent().find("input");
		if(input.val()>0)
			input.val(Number(input.val())-1);
	}
	
	function onModalOK(){
	
		var operationBar = $("#opsBar");
		var stationID = $('#dispatch_stationID').val();
		var orderID = $('#dispatch_orderID').val();
		var obj = jQuery.ajax({
			url    : orderID + "/dispatch.do",
			async  : false,
			data   : {stationID : stationID},
			success: function(data){
				if('SUCCESS' == data){
					//订单状态改为processing, 按钮改为disable
					$('#btnStatus').html('processing');
					operationBar.html("");
				}
			}
		});
	}
	
	function onModifyOrder(){
	
		var cityID = $('#m_ucity').val();
		var city = $('#m_ucity>option[value=' + cityID + ']').attr('city');
		var order = {
			id         : $('#m_id').val(),
			status     : $('#m_status').val(),
			createDate : $('#m_createDate').val(),
			customer   :{ id : $('#m_customer_id').val() },
			delivery   :{
				id     : $('#m_delivery_id').val(),
				name   : $('#m_uname').val(),
				phone  : $('#m_uphone').val(),
				address: $('#m_uaddress').val(),
				city   : city
			},
			details:[]
		};
		
		$("#items").find("input").each(function(){
		
			var product = $(this);
			var orderItem = {
				spec	: {id:product.attr("id")},
				product : {id:product.attr("product_id")},
				price   : product.attr("price"),
				quantity: product.val()
			};
			if(orderItem.quantity > 0)
				order.details.push(orderItem);
		});
		
		console.log("modifyOrder : " + JSON.stringify(order));
		var url = order.id + "/modify.do";
		var obj = jQuery.ajax({
			type   : "POST",
			url    : url,
			dataType:"json",
			async  : false,
			data   : JSON.stringify(order),
			contentType:"application/json",
			success: function(data){
				alert(data);
			}
		});
	}
	
	function showMessage(msg) {
	
		var alert = "新订单{ 订单编号:" + msg.id + ", 下单时间:" + msg.createDate + " }到达, 请及时处理!!!";
		messageTips.show(alert);
	}
	
	$(function(){
	
		messageTips.init({ "selector":".bb-alert" });
		$(".selectpicker").selectpicker();
		
		$("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
		
		$("[data-toggle='popover_order']").popover({
			html:true,
			title:'订单详情',
			trigger:'hover'
		});
		
		$("[data-toggle='popover_ship']").popover({
			html:true,
			title:'配送信息',
			trigger:'hover'
		});
		
		//派送
		$(".dispatch").click(function(){
			
			var orderID = $(this).parents("tbody").find("tr:first").attr("orderID");
			$('#myModal #dispatch_orderID').val(orderID);
			$('#myModal').modal();
		});
		
		//修改
		$("[data-toggle='modify']").click(function(){
			
			var orderID = $(this).parents("tbody").find("tr:first").attr("orderID");
			var url = orderID + "/query.do";
			var obj = jQuery.ajax({
				type   : "POST",
				url    : url,
				async  : false,
				success: function(order){
					
					$('#m_customer_id').val(order.customer.id);
					$('#m_delivery_id').val(order.delivery.id);
					$('#modifyTab a[href="#profile"]').tab('show');
					$('#items input').each(function(){
						$(this).val(0);
					});
					
					$('#modify_orderID').val(order.id);
					$('#m_uname').val(order.delivery.name);
					$('#m_uphone').val(order.delivery.phone);
					$('#m_uaddress').val(order.delivery.address);
					
					$('#m_id').val(order.id),
					$('#m_status').val(order.status);
					$('#m_createDate').val(order.createDate);
					
					var cityID = $('option[city="' + order.delivery.city + '"]').val();
					$('#m_ucity').val(cityID);
					$('#m_ucity').selectpicker('render');
					
					for(i=0; i<order.details.length; i++){
						var item = order.details[i];
						console.log("order{prod_id : " + item.product.id + ", spec_id : " + item.spec.id + ", quantity : " + item.quantity + "}");
						$('#modifyModal input[id="'+item.spec.id + '"]').val(item.quantity);
						//$('#modifyModal input[id="'+item.spec.id + '"]').attr("orderItemID", item.id);
					}
					
					$('#modifyModal').modal();
				}
			});
		});
		
		//通知
		$("[data-toggle='renotify']").click(function(){
		
			var shipID = $(this).attr("shipmentID");
			var obj = jQuery.ajax({
				url    : "${ContextPath}/Shipment/" + shipID + "/notify.do",
				async  : false,
				success: function(data){
					alert(data);
					if('SUCCESS' == data){
					} else {
					}
				}
			});
		});
		
		//取消
		$("[data-toggle='confirm']").click(function(){

			var operationBar = $("#opsBar");
			var orderID = $("#orderID").val();
			bootbox.confirm("取消订单, 是否继续?", function(result) {
				console.log("cancel order{id : " + orderID + ", userResponse : " + result + "}");
				if(true == result){
					jQuery.post(orderID + '/cancel.do', {id : orderID}, function(data){
						if("SUCCESS" == data){
							$('#btnStatus').html('CANCEL');
							$('#btnStatus').attr("class","btn btn-small btn-danger disabled");
							
							operationBar.html("");
						}
					});  
				}
			});
		});
	});
</script>


<div class="row">
	#parse("/layout/sidebar.vm")
	<div class="span9">
		
		<h2>订单查询</h2>
		<!-- 新订单提示 -->
		<div class="bb-alert alert alert-danger" style="display:none;">
			<button type="button" class="close" aria-hidden="true" onclick="messageTips.hide();">&times;</button>
			<span></span><a href="pending/First.do">刷新</a>
		</div>

		<form class="form-search form-inline" action="search.do" method="POST">
			<input class="input-medium search-query" type="number" min="1"
				name="orderID" placeholder="订单编号" required 
			 	data-validation-required-message="Valid number is required"/>
			<input type="hidden" id="orderID" value="${order.id}"/>
			<button type="submit" class="btn">查询</button>
		</form>
		<div class="row">
			<div class="span3">
				<table class="table table-bordered table-striped">
					<tr>
						<th colspan="2">订单详情</th>
					</tr>
					<tbody>
						<tr orderID="${order.id}"><td>订单编号</td><td>$!{order.id}</td></tr>
						<tr><td>下单日期</td><td>$!{order.createDate}</td></tr>
						<tr><td>取货编码</td><td>$!{order.accessCode}</td></tr>
						<tr><td>订单状态</td>
							<td>
							#if($!{order.status} == 'PENDING')
								<button class="btn btn-small btn-info disabled" id="btnStatus">$!{order.status}</button>
							#elseif($!{order.status} == 'PROCESSING')
								<button class="btn btn-small btn-info disabled" id="btnStatus" 
									data-container="body" data-toggle="popover_ship" data-content="$!{orderHelper.format($!{order.shipment})}">
								$!{order.status}
								</button>
							#elseif($!{order.status} == 'CANCEL')
								<button class="btn btn-small btn-danger disabled" id="btnStatus">$!{order.status}</button>
							#elseif($!{order.status} == 'FINISH')
								<button class="btn btn-small btn-success disabled" id="btnStatus">$!{order.status}</button>
							#end
							</td>
						</tr>
						<tr>
							<td>操作</td>
							<td id="opsBar">
								#if($!{order.status} == 'PENDING')
									<button class="btn btn-small btn-primary dispatch" type="button" id="btnDispatch">配送</button>
									<button class="btn btn-small btn-info" type="button" id="btnModify" data-toggle="modify">修改</button>
									<button class="btn btn-small btn-danger" type="button" data-toggle="confirm" id="btnCancel">取消</button>
								#elseif($!{order.status} == 'PROCESSING')
									<button class="btn btn-small btn-primary" data-toggle="renotify" type="button" id="btnDispatch" shipmentID="${order.shipment.id}">通知</button>
								#end
							</td>
						</tr>
					</tbody>
					<tr><th colspan="2"></th></tr>
					<tr><th colspan="2">派单详情</th></tr>
					<tbody>
						<tr><td>收货人</td><td>$!{order.delivery.name}</td></tr>
						<tr><td>联系电话</td><td>$!{order.delivery.phone}</td></tr>
						<tr><td>送货地址</td><td>$!{order.delivery.address}</td></tr>
					</tbody>
				</table>
			</div>
			<div class="span6">
				<ul class="thumbnails">
					#foreach(${orderItem} in ${order.details})
					<li class="span3">
						<div class="thumbnail">
							<img alt="" src="${orderItem.product.url}"/>
							<div class="caption" align="center">${orderItem.product.displayName}(${orderItem.spec.name}) * <b>${orderItem.quantity}</b></div>
					</li>
					#end
				</ul>
			</div>
		</div>
		
<!-- 派送模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">订单配送</h4>
         </div>
         <div class="modal-body" style="height:150px;">
<input type="hidden" id="dispatch_orderID"/>
选择配送小站
<select class="js-example-basic-single selectpicker" id="dispatch_stationID" data-live-search="true">
#foreach($station in ${stations})
<option value="${station.id}" data-subtext="${station.name}" city="${station.name}">${station.name}</option>
#end
</select>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="onModalOK();">确定</button>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
	</div>
</div>

<!-- 修改模态框（Modal） -->
<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">订单更新</h4>
         </div>
         <div class="modal-body">
         <input type="hidden" id="m_id" value="$!{order.id}"/>
         <input type="hidden" id="m_status" value="$!{order.status}"/>
         <input type="hidden" id="m_createDate" value="$!{order.createDate}"/>
         <input type="hidden" id="m_customer_id" value="$!{order.customer.id}"/>
         <input type="hidden" id="m_delivery_id" value="$!{order.delivery.id}"/>
<ul class="nav nav-tabs" id="modifyTab">
	<li class="active"><a href="#profile" data-toggle="tab">送货信息</a></li>
	<li><a href="#items" data-toggle="tab">商品信息</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="profile">
		<div class="form-horizontal">
		<div class="control-group">
				<label class="control-label" for="m_uname">联系人</label>
				<div class="controls"><input id="m_uname" class="input-xlarge" type="text" value="$!{order.delivery.name}"></div>
			</div>
			<div class="control-group">
				<label class="control-label" for="m_uphone">联系电话</label>
				<div class="controls"><input id="m_uphone" class="input-xlarge" type="text" value="$!{order.delivery.phone}"></div>
			</div>
			<div class="control-group">
				<label class="control-label" for="m_uaddress">联系地址</label>
				<div class="controls"><input id="m_uaddress" class="input-xlarge" type="text" value="$!{order.delivery.address}"></div>
			</div>
			<div class="control-group">
				<label class="control-label" for="m_ucity">城市</label>
				<div class="controls">
					<select id="m_ucity" class="selectpicker" data-size="4" id="dispatch_stationID" data-live-search="true">
					#foreach(${station} in ${stations})
						<option value="${station.id}" data-subtext="${station.name}" city="${station.name}">${station.name}</option>
					#end
					</select>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
				<button class="btn btn-primary" onclick="return nextTab();">下一步</button>
				</div>
			</div>
		</div>
	</div><!-- END OF DIV of TAB_PROFILE -->
	<div class="tab-pane" id="items">
		<ul class="thumbnails">
		#foreach(${spec} in ${specs})
			<li class="span2">
				<div class="thumbnail" align="center">
					<span style="font-weight:bold;">${spec.product.displayName}<br></span>
					<img src="${spec.product.url}">
					<div class="caption" min="${spec.min}" max="${spec.max}">
						<span style="background-color:#FF8000;color=#FFF;">${spec.name}<br></span>
						<i class="icon-plus" style="cursor:pointer" onclick="return onPlus(this);"></i>
						<!--<input type="text" id="${product.id}" price="${product.price}" size="2" style="width:20px;" value="0"/>-->
						<input type="text" id="${spec.id}" product_id="${spec.product.id}" price="${spec.price}" size="2" style="width:20px;" value="0"/>
						<i class="icon-minus" style="cursor:pointer" onclick="return onMinus(this);"></i>
					</div>
				</div>
			</li>
		#end
		</ul>
	</div><!-- END OF DIV of TAB_ITEMS -->
</div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="onModifyOrder();">保存</button>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->