<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/messageTips.js"></script>

<script>
	$(function () {
		
		messageTips.init({ "selector":".bb-alert" });
		
		$("[data-toggle='popover_order']").popover({
			html:true,
			title:'订单详情',
			trigger:'hover'
		});
		
		$("[data-toggle='popover_ship']").popover({
			html:true,
			title:'配送信息',
			trigger:'hover'
		});
	});
	
	function showMessage(msg) {
	
		var alert = "新订单{ 订单编号:" + msg.id + ", 下单时间:" + msg.createDate + " }到达, 请及时处理!!!";
		messageTips.show(alert);
	}
</script>

<!-- 新订单提示 -->
<div class="bb-alert alert alert-danger" style="display:none;">
	<button type="button" class="close" aria-hidden="true" onclick="messageTips.hide();">&times;</button>
	<span></span><a href="pendingFirst.do">刷新</a>
</div>

<table class="table table-condensed table-hover">
	<thead>
		<tr>
			<th>订单编号</th>
			<th>下单日期</th>
			<th>状态</th>
			<th>产品</th>
			<th>数量</th>
		</tr>
	</thead>
#foreach( $order in ${page.dataList})
	<tbody>
	#foreach( $orderItem in ${order.details} )
		<tr>
			#if( $velocityCount == 1 )
			<td rowspan="$!{order.details.size()}" data-container="body" data-toggle="popover_order" data-content="$orderHelper.format($order)">
				${order.id}
			</td>
			<td rowspan="$!{order.details.size()}">${order.createDate}</td>
			<td rowspan="$!{order.details.size()}" 
				data-container="body" data-toggle="popover_ship" data-content="$orderHelper.format($!{order.shipment})">
				<button type="button" class="btn btn-small btn-info disabled">$!{order.status}</button>
			</td>
			#end
			<td>${orderItem.product.displayName}</td>
			<td>${orderItem.quantity}</td>
		</tr>
	#end
	</tbody>
#end
</table>

<div class="pagination pagination-right">
	<ul>
		<li><a href="processingFirst.do">|<<</a></li>
		<li><a href="processingPages.do?pageNumber=${page.previousPage}"><</a></li>
		<li><a href="processingPages.do?pageNumber=${page.nextPage}">></a></li>
		<li><a href="processingPages.do?pageNumber=${page.totalPage}">>>|</a></li>
		<li><a href="#">第 ${page.currentPage}页 / 共 ${page.totalPage}页</a></li>
	</ul>
</div>