#set( $ContextPath = ${request.contextPath} )
<script src="${ContextPath}/js/jquery.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">
	$(function () {
		
		var series;
		var categories;
		
		$.ajax({
        	// have to use synchronous here, else the function will return before the data is fetched
        	async: false,
        	url: "countByDate.do",
        	dataType:"json",
        	success: function(data) {
        		categories = data[0];
        		series = data[1];
        	}
        });
		
    $('#container').highcharts({
        chart: { type: 'column' },
        title: { text: 'Daily Order' },
        subtitle: { text: 'Source:' },
        xAxis: {
            categories:categories,
            crosshair : true
        },
        yAxis: {
            min: 0,
            title: { text: 'number of order' }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: series
    });
});
</script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>