<?xml version="1.0" encoding="UTF-8" ?>
<log4j:configuration>
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p[%t] - %c - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="TRACE" />
		</filter>
	</appender>
	
	<!-- 输出日志到文件 每天一个文件 -->
	<appender name="dailyRollingFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="ImmediateFlush" value="true" />
		<param name="File" value="dailyRollingFile.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n" />
		</layout>
	</appender>
	
	<logger name="org.hibernate">
		<level value="DEBUG" />
	</logger>
	
	<logger name="org.directwebremoting">
		<level value="DEBUG" />
	</logger>
	
	<logger name="ecommerce.rmall">
		<level value="DEBUG" />
	</logger>
	
	<root>
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>