

<table class="table table-condensed">
	<thead>
		<tr>
			<th>ID</th>
			<th>NAME</th>
			<th>DATE</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
#foreach( $order in ${page.dataList})
	<tbody>
		<tr class="success">
			<td>${order.id}</td>
			<td>${order.status}</td>
			<td>${order.createDate}</td>
			<td>${order.lastUpdate}</td>
			<td><button type="button" class="btn btn-small btn-danger disabled"></button></td>
		</tr>
	</tbody>
#end
</table>

<div class="pagination">
	<ul>
		<li><a href="first.do">|<<</a></li>
		<li><a href="pages.do?pageNumber=${page.previousPage}"><</a></li>
		<li><a href="pages.do?pageNumber=${page.nextPage}">></a></li>
		<li><a href="pages.do?pageNumber=${page.totalPage}">>>|</a></li>
	</ul>
</div>