<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootbox.js"></script>

<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.1/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/main.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.1/js/select2.min.js"></script>

<script>
	var Example = (function() {
		"use strict";
		var elem,
		hideHandler,
		that = {};
		
		that.init = function(options) {
	        elem = $(options.selector);
	    };
	    that.show = function(text) {
	        
	        clearTimeout(hideHandler);
	        elem.find("span").html(text);
	        elem.delay(200).fadeIn();
	    };
	    that.hide = function(){
	    	elem.delay(200).fadeOut();
	    }
	
	    return that;
	}());

	function showMessage(msg) {
	
		var alert = "新订单{ 订单编号:" + msg.id + ", 下单时间:" + msg.createDate + " }到达, 请及时处理!!!";
		Example.show(alert);
	}

	function onModalOK(){
	
		var stationID = $('#dispatch_stationID').val();
		var orderID = $('#dispatch_orderID').val();
		var obj = $.ajax({
			url    : "dispatch.do",
			async  : false,
			data   : {orderID : orderID, stationID : stationID},
			success: function(data){
				if('SUCCESS' == data){
					//alert($('tr[orderid='+ orderID + ']').html());
					$('tr[orderid='+ orderID + ']').remove();
				}
			}
		});
	}

	$(function () {

		Example.init({ "selector": ".bb-alert" });
		
		$(".js-example-basic-single").select2();
		
		$("[data-toggle='popover']").popover({
			html:true,
			title:'订单详情',
			trigger:'hover'
		});
		
		$(".dispatch").click(function(){
			
			var orderID = $(this).parents("tr").attr("orderID");
			$('#myModal #dispatch_orderID').val(orderID);
			$('#myModal').modal();
		});

		$("[data-toggle='confirm']").click(function(){
			var row = $(this).parents("tr").parent();
			var orderID = $(this).parents("tr").attr("orderID");
			bootbox.confirm("取消订单, 是否继续?", function(result) {
				console.log("cancel order{id : " + orderID + ", userResponse : " + result + "}");
				if(true == result){
					$.post('cancel.do', {id : orderID}, function(data){
						if("SUCCESS" == data){
							row.remove();
						}
					});  
				}
			}); 
		});
	});
</script>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">订单配送</h4>
         </div>
         <div class="modal-body">
<input type="hidden" id="dispatch_orderID"/>
选择配送小站
<select class="js-example-basic-single" id="dispatch_stationID">
#foreach($station in ${stations})
<option value="${station.id}">${station.name}</option>
#end
</select>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="onModalOK();">配送</button>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="bb-alert alert alert-danger" style="display:none;">
	<span></span>
    <button type="button" class="close" aria-hidden="true" onclick="Example.hide();">
		&times;
   </button>
</div>


<table class="table table-condensed table-hover">
	<thead>
		<tr>
			<th>订单编号</th>
			<th>下单日期</th>
			<th>操作</th>
			<th>产品</th>
			<th>数量</th>
		</tr>
	</thead>
#foreach( $order in ${page.dataList})
	<tbody>
	#foreach( $orderItem in ${order.details} )
		<tr orderID="${order.id}">
			#if( $velocityCount == 1 )
			<td rowspan="$!{order.details.size()}" data-container="body" data-toggle="popover" data-content="$orderHelper.format($order)">
				${order.id}
			</td>
			<td rowspan="$!{order.details.size()}">${order.createDate}</td>
			<td rowspan="$!{order.details.size()}">
				<button type="button" class="btn btn-small btn-danger" data-toggle="confirm">取消</button>
				<button type="button" class="btn btn-small dispatch">派送</button>
			</td>
			#end
			<td>${orderItem.product.displayName}</td>
			<td>${orderItem.quantity}</td>
		</tr>
	#end
	</tbody>
#end
</table>

<div class="pagination pagination-right">
	<ul>
		<li><a href="pendingFirst.do">|<<</a></li>
		<li><a href="pendingPages.do?pageNumber=${page.previousPage}"><</a></li>
		<li><a href="pendingPages.do?pageNumber=${page.nextPage}">></a></li>
		<li><a href="pendingPages.do?pageNumber=${page.totalPage}">>>|</a></li>
		<li><a href="#">第 ${page.currentPage}页 / 共 ${page.totalPage}页</a></li>
	</ul>
</div>
