<form class="form-search form-inline" action="search.do" method="POST">
	<input class="input-medium search-query" type="text" name="orderID" placeholder="订单编号"/>
	<button type="submit" class="btn">查询</button>
</form>
			 
<table class="table table-condensed">
	<thead>
		<tr>
			<th>订单编号</th>
			<th>下单日期</th>
			<th>订单状态</th>
			<th>操作</th>
			<th>订单产品</th>
		</tr>
	</thead>
#set( $row = $!{order.details.size()} + 1 )
	<tbody>
		<tr class="success">
			<td rowspan='${row}'>$!{order.id}</td>
			<td rowspan='${row}'>$!{order.createDate}</td>
			<td rowspan='${row}'>$!{order.status}</td>
			<td rowspan='${row}'>
				<button class="btn btn-small btn-danger disabled" type="button">取消订单</button>
			</td>
			<td></td>
		</tr>
		#foreach($orderItem in $order.details)
		<tr class="success">
			<td>$!{orderItem.product.displayName}</td>
		</tr>
		#end
	</tbody>	
</table>