<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	
	<!-- ++++++++++ PLACEHOLDERs & CONFIGURATIONs ++++++++++ -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="classpath:application.properties" />
	</bean>
	
	<bean id="orderService" class="ecommerce.rmall.service.impl.OrderService">
		<property name="customerDao"><ref bean="customerDao"/></property>
		<property name="orderDao"><ref bean="orderDao"/></property>
		<property name="productDao"><ref bean="productDao"/></property>
	</bean>
	
	<bean id="shipmentService" class="ecommerce.rmall.service.impl.ShipmentService">
		<property name="shipDao"><ref bean="shipmentDao"/></property>
		<property name="stationDao"><ref bean="stationDao"/></property>
	</bean>
</beans>