<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd        
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd        
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd        
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">  
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
  		<property name="locations" value="classpath:application.properties"/> 
	</bean>
	
	<bean id="queueConnectionFactory" class="org.apache.activemq.spring.ActiveMQConnectionFactory">  
        <property name="brokerURL" value="${message.Queue}" />
        <property name="useAsyncSend" value="true" />
    </bean>
    
    <!-- 定义消息队列 -->
    <bean id="destination.place" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="rmall.placeOrder" />
    </bean>
    <bean id="destination.dispatch" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="rmall.distribution" />
    </bean>

	<!-- +++++++++ PLACE ORDER +++++++++ -->
    <!-- PTP jms模板 -->  
    <bean id="jmsTemplate.place" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="queueConnectionFactory"/>
        <property name="defaultDestination" ref="destination.place"/>        
        <property name="pubSubDomain" value="false" />
    </bean>
    <!-- 消息发送方 -->
    <bean id="messageSender.place" class="ecommerce.rmall.message.MessageSender">
    	<property name="jmsTemplate" ref="jmsTemplate.place"/>
    </bean>
    
    <!-- +++++++++ DISTRIBUTION +++++++++ -->
    <!-- PTP jms模板 -->  
    <bean id="jmsTemplate.dispatch" class="org.springframework.jms.core.JmsTemplate">  
        <property name="connectionFactory" ref="queueConnectionFactory"/>
        <property name="defaultDestination" ref="destination.dispatch"/>
        <property name="pubSubDomain" value="false" />
    </bean>
    <!-- 消息发送方 -->
    <bean id="messageSender.dispatch" class="ecommerce.rmall.message.MessageSender">
    	<property name="jmsTemplate" ref="jmsTemplate.dispatch"/>
    </bean>
</beans>  