<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"  
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	
	<!-- ++++++++++ PLACEHOLDERs & CONFIGURATIONs ++++++++++ -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="classpath:application.properties" />
	</bean>
	
	<aop:aspectj-autoproxy>
        <aop:include name="timingAspect" />
    </aop:aspectj-autoproxy>
    <bean id="timingAspect" class="org.perf4j.slf4j.aop.TimingAspect" />
    
	<bean id="orderService" class="ecommerce.rmall.service.impl.OrderService">
		<property name="customerDao" ref="customerDao"/>
		<property name="orderDao" ref="orderDao"/>
		<property name="productDao" ref="productDao"/>
		<property name="shipmentDao" ref="shipmentDao"/>
		<property name="messageSender" ref="messageSender.place"/>
	</bean>
	
	<bean id="shipmentService" class="ecommerce.rmall.service.impl.ShipmentService">
		<property name="shipDao" ref="shipmentDao"/>
		<property name="stationDao" ref="stationDao"/>
		<property name="orderDao" ref="orderDao"/>
		<property name="messageSender" ref="messageSender.dispatch"/>
	</bean>
	
	<bean id="productService" class="ecommerce.rmall.service.impl.ProductService">
		<property name="productDao" ref="productDao"/>
		<property name="customerDao" ref="customerDao"/>
		
		<property name="productHelper" ref="productHelper"/>
	</bean>
	
	<bean id="stationService" class="ecommerce.rmall.service.impl.StationService">
		<property name="stationDao" ref="stationDao"/>
	</bean>
	
	<bean id="customerService" class="ecommerce.rmall.service.impl.CustomerService">
		<property name="customerDao" ref="customerDao"/>
		<property name="couponDao" ref="couponDao"/>
		<property name="notify" ref="smsNotify"/>
	</bean>
	
	<bean id="customerOrderService" class="ecommerce.rmall.service.impl.CustomerOrderService">
		<property name="orderDao" ref="orderDao"/>
		<property name="customerDao" ref="customerDao"/>
		<property name="productDao" ref="productDao"/>
		<property name="shipmentDao" ref="shipmentDao"/>
		<property name="specDao" ref="specDao"/>
		
		<property name="messageSender" ref="messageSender.place"/>
	</bean>
	
	<bean id="activityService" class="ecommerce.rmall.service.impl.ActivityService">
		<property name="activityDao" ref="activityDao"/>
	</bean>
	
	<bean id="productHelper" class="ecommerce.rmall.utils.ProductHelper">
		<property name="customerDao" ref="customerDao"/>
		<property name="productDao" ref="productDao"/>
	</bean>
	
	<bean id="smsNotify" class="ecommerce.rmall.notify.NotifyNothing"/>
	<!-- 云通讯 -->
	<!-- <bean id="smsNotify" class="ecommerce.rmall.notify.yuntongxun.SmsNotifyImpl">
		<property name="serverUrl" value="sandboxapp.cloopen.com"/>
		<property name="serverPort" value="8883"/>
		<property name="accountSID" value="aaf98f894d328b13014d6fa72cbe2c07"/>
		<property name="accountToken" value="c633a2b3edd642fcb60b9a24df220ca0"/>
		<property name="appID" value="8a48b5514d32a2a8014d6fa9203c2b96"/>
	</bean> -->
	<!-- 莫名 -->
	<!-- <bean id="smsNotify" class="ecommerce.rmall.notify.moming.SmsNotifyImpl">
		<property name="smsEndpoint" ref="smsEndpoint"/>
		<property name="account" value="${sms.account}"/>
		<property name="password" value="${sms.password}"/>
	</bean> -->
</beans>